*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.blg
*.aux
*.DS_Store
*.gz
*.bcf
*.toc
*.dvi
*.run.xml
Documentation/**/*.pdf
!Documentation/Code of Conduct/*.pdf
Weekly-blogs/**/*.docx
*.toc
*.synctex(busy)
*.bbl
*.out
*.vscode
PDPs/*.docx
