
Documentation/PlanOfApproach/build/PlanOfApproach.synctex.gz
Documentation/PlanOfApproach/build/PlanOfApproach.aux
Documentation/PlanOfApproach/build/PlanOfApproach.bcf
Documentation/PlanOfApproach/build/PlanOfApproach.dvi
Documentation/PlanOfApproach/build/PlanOfApproach.log
Documentation/PlanOfApproach/build/PlanOfApproach.run.xml
Documentation/PlanOfApproach/build/PlanOfApproach.toc
Documentation/PlanOfApproach/bibfolder/ref.blg
Documentation/PlanOfApproach/PlanOfApproach.blg
Documentation/PlanOfApproach/bibfolder/ref.blg
Documentation/PlanOfApproach/PlanOfApproach.blg
Documentation/PlanOfApproach/bibfolder/ref.blg
Documentation/PlanOfApproach/PlanOfApproach.aux
Documentation/PlanOfApproach/PlanOfApproach.aux
Documentation/PlanOfApproach/PlanOfApproach.aux
Documentation/PlanOfApproach/PlanOfApproach.bcf
Documentation/PlanOfApproach/PlanOfApproach.blg
Documentation/PlanOfApproach/PlanOfApproach.log
Documentation/PlanOfApproach/PlanOfApproach.lot
Documentation/PlanOfApproach/PlanOfApproach.synctex.gz
Documentation/PlanOfApproach/PlanOfApproach.run.xml
Documentation/PlanOfApproach/Background.log
Documentation/PlanOfApproach/bibfolder/.DS_Store
Documentation/PlanOfApproach/.DS_Store
Documentation/.DS_Store
*.fdb_latexmk
*.fls
*.lof
Documentation/PlanOfApproach/PlanOfApproach.pdf
*.toc
