*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.blg
*.aux
*.DS_Store
*.gz
*.bcf
*.toc
*.dvi
*.run.xml
*.toc
*.synctex(busy)
*.bbl
*.out
*.vscode
*.bkp
*.raw
*.fft
stab.txt
!Documentation/Code of Conduct/*.pdf
Firmware/**/*.qws
Firmware/**/db
Firmware/**/incremental_db
Firmware/**/simulation
Firmware/**/output_files/*
!Firmware/**/output_files/*sof
Firmware/**/*.rpt
Firmware/Test_FPGA_routing/c5_pin_model_dump.txt
